[Desktop Entry]
Version=1.0
Type=Application
Exec=AppImageLauncher %f
Name=AppImageLauncher
Icon=AppImageLauncher
Terminal=false
Categories=Utility;
MimeType=application/x-iso9660-appimage;application/vnd.appimage;
NoDisplay=true
