[Desktop Entry]
Version=1.0
Type=Application
Exec=AppImageLauncherSettings %f
Name=AppImageLauncher Settings
Name[de]=AppImageLauncher-Einstellungen
Name[it]=Impostazioni di AppImageLauncher
Comment=Change settings for AppImageLauncher
Comment[de]=Einstellungen für AppImageLauncher ändern
Comment[it]=Cambia le impostazioni di AppImageLauncher
Icon=AppImageLauncher
Terminal=false
Categories=Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
X-AppImage-Integrate=false
StartupWMClass=AppImageLauncher
